In [1]:
import pandas as pd
from pylab import rcParams
import seaborn as sb
import matplotlib.pyplot as plt
import os
import sklearn
from sklearn.cluster import KMeans
import glob
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from   sklearn.manifold import TSNE, Isomap, LocallyLinearEmbedding, MDS, SpectralEmbedding

In [2]:
df_m = pd.read_csv('./DataSet/malware.csv') #CSV containing all the malware files
df_b = pd.read_csv('./DataSet/benign.csv') #CSV containing all the benign files

In [3]:
#adding labels for malware and benign
df_m['labels'] = 1
df_b['labels'] = 0

In [4]:
df = pd.concat([df_m,df_b],sort=True)
df = df.fillna(0)
df.head()

,0,0.1,0A,0B,0C,0D,0E,0F,1,10,...,DA,DB,DC,DD,DE,DF,E0,E1,E2,labels
0,5749,45,5951,262,12980,1823,5675,2116,1775,97,...,61,37,10,79,12,7,63,34,15,1
1,322,130,5559,1128,11918,941,3968,900,2976,151,...,65,68,28,71,28,5,23,22,17,1
2,0,1,1,2,34,1,16,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,394,24,931,120,2496,91,600,177,243,35,...,2,19,12,0,0,0,0,0,0,1
4,0,0,22,1,114,3,32,2,4,0,...,0,0,0,0,0,0,0,0,0,1

# Applying PCA (reducing data to 14 dimensions)

In [5]:
opcodes = list(df.loc[:, df.columns != 'labels'])
x = df.loc[:, opcodes].values
x = StandardScaler().fit_transform(x)
pca = PCA(n_components=14)
principalComponents = pca.fit_transform(x)
data = pd.DataFrame(data = principalComponents, columns = ['PC 1', 'PC 2', 'PC 3', 'PC 4', 'PC 5', 'PC 6', 'PC 7', 'PC 8', 'PC 9', 'PC 10', 'PC 11', 'PC 12', 'PC 13', 'PC 14'])

In [6]:
data['labels']=df['labels'].values
data.head()

,PC 1,PC 2,PC 3,PC 4,PC 5,PC 6,PC 7,PC 8,PC 9,PC 10,PC 11,PC 12,PC 13,PC 14,labels
0,0.943397,-1.138696,0.548259,1.366815,-2.010459,-0.377452,1.064914,0.228709,0.206127,-0.023481,-0.545139,-0.013379,-1.100269,0.322473,1
1,4.549362,1.673119,6.707978,4.749885,2.891180,9.293838,5.103861,-4.833981,-0.096279,7.441930,5.928942,-1.974582,-0.808424,3.838119,1
2,-6.826510,0.287176,-0.123183,0.265436,0.255515,-0.312487,-0.183471,0.121336,-0.133355,0.222065,0.171201,0.223999,0.222552,0.290904,1
3,-5.556797,0.589761,0.583235,0.336603,0.613023,-0.284018,-0.057172,0.332584,-0.840668,0.419530,-0.495621,-0.000416,0.590667,0.295560,1
4,-6.817229,0.286242,-0.121060,0.266245,0.250608,-0.315366,-0.180386,0.120391,-0.133477,0.224665,0.168363,0.229140,0.223693,0.289487,1

# Random forrest (on PCA 14D)

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

In [8]:
X_pca = data.loc[:, data.columns != 'labels']
y_pca = data['labels']

In [9]:
X_train_pca, X_test_pca, y_train_pca, y_test_pca = train_test_split(X_pca, y_pca, test_size=0.3) # 70% training and 30% test

In [10]:
#Create a Gaussian Classifier
clf_pca=RandomForestClassifier(n_estimators=5)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf_pca.fit(X_train_pca,y_train_pca)

y_pred_pca=clf_pca.predict(X_test_pca)

In [12]:
print("Accuracy:",metrics.accuracy_score(y_test_pca, y_pred_pca)*100,"%")

Accuracy: 98.87005649717514 %

# Random forrest (on t-SNE reduced data 2D)

In [13]:
X = df.iloc[:,0:-1]
X_std = StandardScaler().fit_transform(X)
y = df['labels'].values

In [14]:
tsne2 = TSNE(n_components=2, random_state=0)
tsne2_data = tsne2.fit_transform(X)

In [15]:
tsne2_df = pd.DataFrame(data=tsne2_data, columns = ['Component 1', 'Component 2'])

In [16]:
tsne2_df['labels']=y
tsne2_df.head()

   Component 1  Component 2  labels
0    37.005260    -5.060441       1
1    51.057503     7.285639       1
2   -87.382072     7.341462       1
3   -28.743679   -18.064686       1
4   -74.474854     2.897696       1

In [17]:
#Saving to CSV
#tsne2_df.to_csv('tsne2_Labels.csv')

In [18]:
X_tsne2 = tsne2_df.loc[:, tsne2_df.columns != 'labels']
y_tsne2 = tsne2_df['labels']

In [19]:
X_train_tsne2, X_test_tsne2, y_train_tsne2, y_test_tsne2 = train_test_split(X_tsne2, y_tsne2, test_size=0.3) # 70% training and 30% test

In [20]:
#Create a Gaussian Classifier
clf_tsne2=RandomForestClassifier(n_estimators=5)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf_tsne2.fit(X_train_tsne2,y_train_tsne2)

y_pred_tsne2=clf_tsne2.predict(X_test_tsne2)

In [22]:
print("Accuracy:",metrics.accuracy_score(y_test_tsne2, y_pred_tsne2)*100,"%")

Accuracy: 97.94555726759117 %

# Random forrest (on t-SNE reduced data 3D)

In [23]:
tsne3 = TSNE(n_components=3, random_state=0)
tsne3_data = tsne3.fit_transform(X)

In [24]:
tsne3_df = pd.DataFrame(data=tsne3_data, columns = ['Component 1', 'Component 2', 'Component 3'])

In [25]:
tsne3_df['labels']=y
tsne3_df.head()

   Component 1  Component 2  Component 3  labels
0   -18.718191    -5.086319    -2.853341       1
1    -3.956240    -7.843984   -10.139931       1
2     7.619370     1.937653    25.006741       1
3   -15.108516    15.962050    10.930108       1
4    15.837934     7.599244    23.393709       1

In [26]:
#Saving to CSV
#tsne3_df.to_csv('tsne3_Labels.csv')

In [27]:
X_tsne3 = tsne3_df.loc[:, tsne3_df.columns != 'labels']
y_tsne3 = tsne3_df['labels']

In [28]:
X_train_tsne3, X_test_tsne3, y_train_tsne3, y_test_tsne3 = train_test_split(X_tsne3, y_tsne3, test_size=0.3) # 70% training and 30% test

In [29]:
#Create a Gaussian Classifier
clf_tsne3=RandomForestClassifier(n_estimators=5)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf_tsne3.fit(X_train_tsne3,y_train_tsne3)

y_pred_tsne3=clf_tsne3.predict(X_test_tsne3)

In [30]:
print("Accuracy:",metrics.accuracy_score(y_test_tsne3, y_pred_tsne3)*100,"%")

Accuracy: 98.25372367745248 %